PORT=5000
MONGO_URI=mongodb+srv://teamtaskmanager:railway%26netlify@cluster0.hz3x3hj.mongodb.net/ttm?retryWrites=true&w=majority
JWT_SECRET=secret123
NODE_ENV=production
FRONTEND_URL=https://thriving-gelato-f2f428.netlify.app
